<a href="https://colab.research.google.com/github/bhadreshpsavani/ExploringDataScience/blob/master/Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Exploratory Data Analysis(EDA):
An approach to analyse and find characteristics and interesting patterns in the data
1. Make Data in Representable
2. Find Pattern
3. Spot Anomaly
4. Test Hypothesis
5. Check Assumptions

Data Scientist roughly spend around 40-50% of their time in EDA

## Step1. Import Modules

In [ ]:
import numpy as np
import pandas as pd

# to ignore warnings
import warnings
warnings.filterwarnings('ignore')

## Step2. Loading Data

In [ ]:
!git clone https://github.com/bhadreshpsavani/ExploringDataScience.git

Cloning into 'ExploringDataScience'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [ ]:
df = pd.read_csv('/content/ExploringDataScience/StudentsPerformance.csv')

## Step3. Exploring Features

In [ ]:
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

We have eight columns with no missing values

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
df.gender.value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
df.columns = ['gender', 
              'race_or_ethnicity', 
              'parental_level_of_education', 
              'lunch', 
              'test_preparation_course',
              'math_score',
              'reading_score',
              'writing_score']

In [ ]:
df.race_or_ethnicity.value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race_or_ethnicity, dtype: int64

In [ ]:
df.parental_level_of_education.value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental_level_of_education, dtype: int64

In [ ]:
df.lunch.value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [ ]:
df.test_preparation_course.value_counts()

none         642
completed    358
Name: test_preparation_course, dtype: int64

## Conclusion:
* Our data don't have any missing values

## Step6. Data Visulization

## Step7. Check Assumption

## Step8. Hypothesis Testing

Some Common Plots Used for EDA:
* Histograms
* Scatter Plots
* Pair Plots
* Box Plots
* Violin Plot
* Distribution Plot

## Resources:
* [summarising-aggregation-and-grouping-data-in-python-pandas](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/)